{{> menuin}}
<div class ="main">
    <div class="centercontainer">
        <p>Edit your profile</p>
        {{#if error}}
        <p class="errormessage">Whoops, something went wrong! Please try again!</p>
        {{/if}}


        <form method="POST">
            <label>First name:
            <input name="firstname" value="{{firstname}}">
            </label>
            <label>Last name:
            <input name="lastname" value="{{lastname}}">
            </label>
            <label>Email:
            <input name="email" value="{{email}}">
            </label>
            <label>Password:
            <input type ="password" id="pass" name="password" placeholder="Password (min 6 character)" minlength="6">
            </label>
            <label> Age:
            Age: <input name="age" type="number" value="{{age}}">
            </label>
            <label>City:
            <input name="city" value="{{city}}">
            </label>
            <label>Homepage:
            <input name="url" value="{{homepage}}">
            </label>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <button id="submit-button" value="submit">Update</button>
        </post>
    </div>
</div>
