{{> menuin}}
<div class ="main">
    <div class="centercontainer">
        <h1>List of all Signers</h1>
        <ol class ="names">
        {{#names}}
            <li class = "name">
                {{#if url}}
                <a href="{{url}}" target="_blank">{{firstname}} {{lastname}}</a> {{age}} <a href="/petition/signers/{{city}}">{{city}}</a>
                {{else}}
                {{firstname}} {{lastname}} {{age}} <a href="/petition/signers/{{city}}">{{city}}</a>
                {{/if}}
            </li>
        {{/names}}
        </ol>
    </div>
</div>
